<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title th:text="${type.name}">文章分类</title>

    <link rel="stylesheet" type="text/css" th:href="@{/back/css/editormd.preview.css}" />
</head>
<body>

<textarea id="content" style="display: none;" th:text="${type.contentText}"></textarea>
<div id="editor-view"></div>
<ul>
    <li th:each="item:${items}">
        <a th:href="@{/}+${type.urlName}+${'/'+item.urlName+'.html'}" th:text="${item.title}" href="xx">yyy</a>
    </li>
</ul>


<script th:src="@{/back/js/jquery.min.js}"></script>
<script th:src="@{/back/lib/marked.min.js}"></script>
<script th:src="@{/back/lib/prettify.min.js}"></script>
<script th:src="@{/back/lib/raphael.min.js}"></script>
<script th:src="@{/back/lib/underscore.min.js}"></script>
<script th:src="@{/back/lib/sequence-diagram.min.js}"></script>
<script th:src="@{/back/lib/flowchart.min.js}"></script>
<script th:src="@{/back/lib/jquery.flowchart.min.js}"></script>
<script th:src="@{/back/lib/underscore.min.js}"></script>

<script th:src="@{/back/js/editormd.min.js}"></script>

<script type="text/javascript">
    $(function() {
        var  testEditormdView2;

        testEditormdView2 = editormd.markdownToHTML("editor-view", {
            markdown        : $("#content").val(),
            htmlDecode      : "style,script,iframe",  // you can filter tags decode
            emoji           : true,
            taskList        : true,
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
        });
        $("#content").remove();
    });
</script>

</body>
</html>