<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>添加分类</title>
    <link rel="stylesheet" type="text/css" th:href="@{/back/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/back/css/editormd.min.css}" />
</head>
<body>
<form method="post" th:action="@{/admin/type}" th:object="${typeModel}">

    <input th:value="${type?.id}" type="hidden" name="id" id="id" />
    <div class="name">
        <label for="name">标题</label>
        <input th:value="${type?.name}" type="text" name="name" id="name" />
        <p th:if="${typeModel!=null and #fields.hasErrors('name')}" th:errors="*{name}">errors</p>
    </div>

    <div class="urlName">
        <label for="urlName">链接别名</label>
        <input th:value="${type?.urlName}"  type="text" name="urlName" id="urlName" />
        <p th:if="${typeModel!=null and #fields.hasErrors('urlName')}" th:errors="*{urlName}">errors</p>
    </div>

    <div class="orderId">
        <label for="orderId">排序编号</label>
        <input th:value="${type?.orderId}"  type="text" name="orderId" id="orderId" />
        <p th:if="${typeModel!=null and #fields.hasErrors('orderId')}" th:errors="*{orderId}">errors</p>
    </div>

    <div class="pid">
        <label for="pid">上级分类</label>
        <select id="pid" name="pid" >
            <option value="0">选择分类</option>
            <optgroup  th:each="t:${types}">
                <option th:value="${t.type.id}" th:text="${t.type.name}"  th:selected="${type?.pid==t.type.id}" value="1">分类1</option>
                <option th:each="tt:${t.getSubs()}" th:value="${tt.type.id}" th:text="${'|--'+tt.type.name}" th:selected="${type?.pid==tt.type.id}"></option>
            </optgroup>
            <!--<option th:each="t:${typs.getSubs()}" th:value="${t.type.id}" th:text="|&#45;&#45;${t.type.name}" th:selected="${type?.pid==t.type.id}" value="1">分类1</option>-->
        </select>
        <p th:if="${typeModel!=null and #fields.hasErrors('pid')}" th:errors="*{pid}">errors</p>
    </div>
    <div class="showItem">

        显示状态

        <input th:checked="${type?.showItem==false}" type="radio" value="0" name="showItem" id="showItem1" />
        <label for="showItem1">显示下级分类</label>


        <input th:checked="${type?.showItem}" type="radio" value="1" name="showItem" id="showItem2" />
        <label for="showItem2">显示文章</label>

        <p th:if="${typeModel!=null and #fields.hasErrors('showItem')}" th:errors="*{showItem}">errors</p>

    </div>

    <div class="seoTitle">
        <label for="seoTitle">SEO标题</label>
        <input th:value="${type?.seoTitle}" type="text" name="seoTitle" id="seoTitle" />
        <p th:if="${typeModel!=null and #fields.hasErrors('seoTitle')}" th:errors="*{seoTitle}">errors</p>
    </div>

    <div class="seoKeywords">
        <label for="seoKeywords">SEO关键词</label>
        <input th:value="${type?.seoKeywords}" type="text" name="seoKeywords" id="seoKeywords" />
        <p th:if="${typeModel!=null and #fields.hasErrors('seoKeywords')}" th:errors="*{seoKeywords}">errors</p>
    </div>

    <div class="seoDescription">
        <label for="seoDescription">SEO描述</label>
        <input th:value="${type?.seoDescription}"   name="seoDescription" id="seoDescription" />
        <p th:if="${typeModel!=null and #fields.hasErrors('seoDescription')}" th:errors="*{seoDescription}">errors</p>
    </div>

    <div class="contentText" id="editor">
        <label for="contentText">文章内容</label>
        <textarea th:text="${item?.contentText}"  name="contentText" id="contentText" style="display: none;"></textarea>
    </div>
    <p th:if="${itemModel!=null and #fields.hasErrors('contentText')}" th:errors="*{contentText}">errors</p>

    <div class="submit" id="submit">
        <button>添加分类</button>
    </div>
</form>


<script th:src="@{/back/js/jquery.min.js}"></script>
<script th:src="@{/back/js/editormd.min.js}"></script>



<script type="text/javascript">
    $(function() {
        var testEditor = editormd("editor", {
            width: "100%",
            height: 640,
            markdown : "",
            path : '/back/lib/',
            tex             : true,  // 默认不解析
            flowChart       : true,  // 默认不解析
            sequenceDiagram : true,  // 默认不解析
            //dialogLockScreen : false,   // 设置弹出层对话框不锁屏，全局通用，默认为 true
            //dialogShowMask : false,     // 设置弹出层对话框显示透明遮罩层，全局通用，默认为 true
            //dialogDraggable : false,    // 设置弹出层对话框不可拖动，全局通用，默认为 true
            //dialogMaskOpacity : 0.4,    // 设置透明遮罩层的透明度，全局通用，默认值为 0.1
            //dialogMaskBgColor : "#000", // 设置透明遮罩层的背景颜色，全局通用，默认为 #fff
            imageUpload : true,
            imageFormats : ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
            imageUploadURL : "/back/php/upload.php?test=dfdf",

            /*
             上传的后台只需要返回一个 JSON 数据，结构如下：
             {
             success : 0 | 1,           // 0 表示上传失败，1 表示上传成功
             message : "提示的信息，上传成功或上传失败及错误信息等。",
             url     : "图片地址"        // 上传成功时才返回
             }
             */
        });
    });
</script>
</body>
</html>